.App {
  text-align: center;
  padding-bottom:4rem;
  min-height:100vh;
  font-family: fantasy;
}

.navbar{
  height:15vmin;
  background-color: #ef5350 !important;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items:center;
  padding:10px;

}

.image{
  display:flex;
  flex-direction: row;
  align-items:center;
}

.image1{
  display:flex;
  flex-direction: row;
  width:30vmin;
  height:auto;
  padding:10px;
}



.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
