.App{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.divTable{
  display:table;
  max-width: 20em;
  float:right;
  display:flex;
  align-items:center;
  padding-left:40px;
}

.divTableRow{
  display:table-row;
}

.divTableHeading{
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableCell{
  color: #ef5350;
  display: table-cell;
}

.divTableHead{
  color: #ef5350;
  display: table-cell;
  padding: 3px 10px;
}

.divTableFoot{
  background-color: #eee;
  display: table-footer-group;
  font-weight:bold;
}

.divTableBody{
  display:table-row-group;
}

.divTableCel:nth-child(1n){
  background-color: honeydew
}

.container{
  display:flex;
  opacity: 0.9;
  justify-content:center;
}

image{
  height:14em;
}

input{
  box-sizing:border-box;
  font-size: 2rem;
  padding: 10px;
  display:block;
  margin: 2rem auto;
}

body{
  background-color:white;
  background-size:140%
}